In [9]:
import sqlite3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv("deals.csv")
df.head()

,deal_id,opportunity_id,deal_type,buyer_company,supplier_company,buyer_name,buyer_am,supplier_name,supplier_am,supplier_user_id,...,confirmed_gross_revenue,confirmed_gross_profit,confirmed_buyer_price_per_ton,confirmed_supplier_price_per_ton,confirmed_supplier_tonnage,confirmed_material_cost,confirmed_logistics_cost,confirmed_financing_cost,confirmed_supplier_fee,confirmed_gross_profit_margin
0,6576b8fd-2e8d-4154-a4d2-8396f4ead5fb,NaN,agent,Company_1,Company_249,Allison Hill,AM_A,Denise Davenport,AM_A,ce5ce479-0556-4e8b-a853-256bde6fe14d,...,8382.283076,137.866527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.64
1,34ed0d0b-af94-47c5-a405-73f56d5d71ae,cae44c2f-b87d-4289-bcd8-ed5a22fa0bf5,trading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,284f00eb-f1f5-4b89-909e-874c063669e7,NaN,agent,Company_2,Company_281,Noah Rhodes,AM_B,Amber Obrien,AM_B,0dbe8fd8-e7f5-4f40-b6ea-b98bfa0d769d,...,16873.712705,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
3,0f4e1b59-7fc1-4010-9401-871055a80f0c,NaN,agent,Company_3,Company_281,Angie Henderson,AM_A,Amber Obrien,AM_B,0dbe8fd8-e7f5-4f40-b6ea-b98bfa0d769d,...,17107.661569,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
4,72f522c4-ffe2-4343-af40-c31ad1859255,NaN,agent,Company_4,Company_281,Daniel Wagner,AM_C,Amber Obrien,AM_B,0dbe8fd8-e7f5-4f40-b6ea-b98bfa0d769d,...,8142.157110,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1775 entries, 0 to 1774
Data columns (total 54 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   deal_id                             1775 non-null   object
 1   opportunity_id                      540 non-null    object
 2   deal_type                           1775 non-null   object
 3   buyer_company                       1774 non-null   object
 4   supplier_company                    1774 non-null   object
 5   buyer_name                          1774 non-null   object
 6   buyer_am                            1774 non-null   object
 7   supplier_name                       1774 non-null   object
 8   supplier_am                         1774 non-null   object
 9   supplier_user_id                    1281 non-null   object
 10  deal_stage                          540 non-null    object
 11  buyer_country                       1774 non-null   object
 12  supplier_country                    1773 non-null   object
 13  buyer_region                        1764 non-null   object
 14  supplier_region                     1735 non-null   object
 15  deal_created_at                     1775 non-null   object
 16  buyer_company_id                    1035 non-null   object
 17  supplier_company_id                 1533 non-null   object
 18  buyer_user_id                       561 non-null    object
 19  buyer_am_id                         1702 non-null   object
 20  supplier_am_id                      1699 non-null   object
 21  buyer_country_id                    1035 non-null   object
 22  supplier_country_id                 1533 non-null   object
 23  buyer_payment_term                  1769 non-null   object
 24  supplier_payment_term               1769 non-null   object
 25  buyer_incoterms_name                1773 non-null   object
 26  supplier_incoterms_name             1436 non-null   object
 27  opportunity_source_name             113 non-null    object
 28  sale_order_number                   94 non-null     object
 29  purchase_order_number               93 non-null     object
 30  booked_tonnage                      1775 non-null   float64
 31  booked_buyer_price_per_ton          1775 non-null   float64
 32  booked_supplier_price_per_ton       540 non-null    float64
 33  booked_gross_revenue                1775 non-null   float64
 34  booked_material_cost                540 non-null    float64
 35  booked_supplier_fee_percent         63 non-null     float64
 36  booked_supplier_fee_euro            540 non-null    float64
 37  booked_gross_profit                 1775 non-null   float64
 38  booked_gross_profit_margin_percent  1775 non-null   float64
 39  booked_truck_price                  270 non-null    float64
 40  booked_total_trucks                 269 non-null    float64
 41  booked_logistic_cost                539 non-null    float64
 42  booked_financing_cost               540 non-null    float64
 43  confirmed_tonnage                   1774 non-null   float64
 44  confirmed_gross_revenue             1774 non-null   float64
 45  confirmed_gross_profit              1774 non-null   float64
 46  confirmed_buyer_price_per_ton       539 non-null    float64
 47  confirmed_supplier_price_per_ton    539 non-null    float64
 48  confirmed_supplier_tonnage          539 non-null    float64
 49  confirmed_material_cost             539 non-null    float64
 50  confirmed_logistics_cost            539 non-null    float64
 51  confirmed_financing_cost            539 non-null    float64
 52  confirmed_supplier_fee              539 non-null    float64
 53  confirmed_gross_profit_margin       1667 non-null   float64
dtypes: float64(24), object(30)
memory usage: 749.0+ KB

In [8]:
df.isnull().sum()

deal_id                                  0
opportunity_id                        1235
deal_type                                0
buyer_company                            1
supplier_company                         1
buyer_name                               1
buyer_am                                 1
supplier_name                            1
supplier_am                              1
supplier_user_id                       494
deal_stage                            1235
buyer_country                            1
supplier_country                         2
buyer_region                            11
supplier_region                         40
deal_created_at                          0
buyer_company_id                       740
supplier_company_id                    242
buyer_user_id                         1214
buyer_am_id                             73
supplier_am_id                          76
buyer_country_id                       740
supplier_country_id                    242
buyer_payment_term                       6
supplier_payment_term                    6
buyer_incoterms_name                     2
supplier_incoterms_name                339
opportunity_source_name               1662
sale_order_number                     1681
purchase_order_number                 1682
booked_tonnage                           0
booked_buyer_price_per_ton               0
booked_supplier_price_per_ton         1235
booked_gross_revenue                     0
booked_material_cost                  1235
booked_supplier_fee_percent           1712
booked_supplier_fee_euro              1235
booked_gross_profit                      0
booked_gross_profit_margin_percent       0
booked_truck_price                    1505
booked_total_trucks                   1506
booked_logistic_cost                  1236
booked_financing_cost                 1235
confirmed_tonnage                        1
confirmed_gross_revenue                  1
confirmed_gross_profit                   1
confirmed_buyer_price_per_ton         1236
confirmed_supplier_price_per_ton      1236
confirmed_supplier_tonnage            1236
confirmed_material_cost               1236
confirmed_logistics_cost              1236
confirmed_financing_cost              1236
confirmed_supplier_fee                1236
confirmed_gross_profit_margin          108
dtype: int64

In [11]:
# Connect to SQLite database (creates a file "deals.db")
conn = sqlite3.connect("deals.db")

# Save the DataFrame to SQLite table
df.to_sql("deals", conn, if_exists="replace", index=False)

print("Data loaded successfully into SQLite!")

Data loaded successfully into SQLite!

### Account Manager Performance Query

In [12]:
# SQL query to calculate account manager performance
query = """
SELECT 
    buyer_am AS account_manager,
    SUM(
        CASE 
            WHEN supplier_am IS NOT NULL THEN booked_gross_revenue
            ELSE booked_gross_revenue * 0.5 
        END
    ) AS total_revenue
FROM deals
GROUP BY buyer_am

UNION ALL

SELECT 
    supplier_am AS account_manager,
    SUM(
        CASE 
            WHEN buyer_am IS NOT NULL THEN booked_gross_revenue
            ELSE booked_gross_revenue * 0.5 
        END
    ) AS total_revenue
FROM deals
GROUP BY supplier_am;
"""

# Execute query and load results into a DataFrame
df_am_performance = pd.read_sql_query(query, conn)
print(df_am_performance)

   account_manager  total_revenue
0             None   5.570841e+03
1             AM_A   4.630234e+06
2             AM_B   2.298646e+04
3             AM_C   9.377471e+06
4             AM_D   5.290534e+06
5             AM_E   1.312472e+06
6             AM_F   7.047368e+06
7             AM_I   2.566650e+04
8             AM_J   2.684019e+05
9             None   5.570841e+03
10            AM_A   5.568653e+06
11            AM_B   7.525578e+05
12            AM_C   5.824511e+05
13            AM_D   7.855944e+06
14            AM_E   5.225353e+06
15            AM_F   5.727840e+06
16            AM_G   6.134077e+05
17            AM_H   3.886502e+04
18            AM_I   1.457801e+05
19            AM_J   1.464282e+06

### Revenue Reporting from Buyer Companies

In [23]:
query = """
SELECT
    buyer_company, deal_created_at,
    SUM(booked_gross_revenue) AS total_revenue
FROM deals
GROUP BY buyer_company
ORDER BY total_revenue DESC;
"""

df_revenue_report = pd.read_sql_query(query, conn)
print(df_revenue_report)

   buyer_company                 deal_created_at  total_revenue
0    Company_262  2023-01-28 00:00:00.000000 UTC   5.471611e+06
1    Company_256  2022-08-01 00:00:00.000000 UTC   2.716498e+06
2    Company_267  2022-12-24 00:00:00.000000 UTC   2.671013e+06
3    Company_259  2024-05-19 00:00:00.000000 UTC   1.826183e+06
4    Company_265  2022-09-13 00:00:00.000000 UTC   1.752960e+06
5    Company_258  2020-04-21 00:00:00.000000 UTC   1.371107e+06
6    Company_254  2023-02-06 00:00:00.000000 UTC   1.189325e+06
7    Company_266  2021-06-28 00:00:00.000000 UTC   1.163907e+06
8    Company_247  2022-12-26 00:00:00.000000 UTC   1.100390e+06
9    Company_257  2024-06-29 00:00:00.000000 UTC   1.096112e+06
10   Company_261  2023-08-25 00:00:00.000000 UTC   8.095120e+05
11   Company_253  2023-05-15 00:00:00.000000 UTC   7.284276e+05
12   Company_271  2023-09-15 00:00:00.000000 UTC   7.203363e+05
13   Company_274  2024-04-02 00:00:00.000000 UTC   6.579622e+05
14   Company_250  2023-09-24 00:00:00.000000 UTC   5.609685e+05
15   Company_251  2023-05-08 00:00:00.000000 UTC   4.784867e+05
16   Company_263  2024-12-07 00:00:00.000000 UTC   4.390311e+05
17   Company_255  2024-01-16 00:00:00.000000 UTC   3.690540e+05
18   Company_273  2023-11-28 00:00:00.000000 UTC   3.459832e+05
19   Company_269  2021-11-29 00:00:00.000000 UTC   3.204254e+05
20   Company_252  2022-01-03 00:00:00.000000 UTC   3.153922e+05
21   Company_264  2023-07-09 00:00:00.000000 UTC   3.097004e+05
22   Company_260  2023-09-26 00:00:00.000000 UTC   3.023718e+05
23   Company_270  2024-02-06 00:00:00.000000 UTC   2.908552e+05
24   Company_249  2023-04-17 00:00:00.000000 UTC   2.464359e+05
25   Company_272  2024-01-28 00:00:00.000000 UTC   1.712629e+05
26   Company_268  2022-09-18 00:00:00.000000 UTC   1.402601e+05
27     Company_7  2022-10-10 00:00:00.000000 UTC   1.073867e+05
28   Company_246  2022-03-07 00:00:00.000000 UTC   1.071688e+05
29   Company_248  2022-10-17 00:00:00.000000 UTC   8.963856e+04
30     Company_9  2022-11-28 00:00:00.000000 UTC   2.366505e+04
31     Company_3  2020-05-25 00:00:00.000000 UTC   1.710766e+04
32     Company_2  2020-05-25 00:00:00.000000 UTC   1.687371e+04
33     Company_6  2022-09-13 00:00:00.000000 UTC   1.684106e+04
34          None  2024-10-12 00:00:00.000000 UTC   1.114168e+04
35     Company_1  2024-10-12 00:00:00.000000 UTC   8.382283e+03
36     Company_8  2022-10-17 00:00:00.000000 UTC   8.242384e+03
37     Company_4  2020-07-20 00:00:00.000000 UTC   8.142157e+03
38     Company_5  2020-08-10 00:00:00.000000 UTC   6.112748e+03

##### Save Account Manager Performance Report

In [14]:
df_am_performance.to_csv("account_manager_performance.csv", index=False)
print("Account Manager Performance report saved!")

Account Manager Performance report saved!

##### Save Revenue Report

In [24]:
df_revenue_report = df_revenue_report.round({'total_revenue': 2})
df_revenue_report['deal_created_at'] = pd.to_datetime(df_revenue_report['deal_created_at'])
df_revenue_report.to_csv("revenue_reports_new.csv", index=False)
print("Revenue report saved with rounded values!")

Revenue report saved with rounded values!

In [25]:
df_revenue_report.values[0]

array(['Company_262', Timestamp('2023-01-28 00:00:00+0000', tz='UTC'),
       5471611.34], dtype=object)